<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>API Project: Timestamp Microservice</h2>
        <h3>How to use :</h3>
        <ol class="user-stories">
          
          <li>Write: <a href="https://timestampmicroservice-fccmartin.glitch.me/July%2013%202008"><code>https://timestampmicroservice-fccmartin.glitch.me/July%2013%202008</code></a> </li>
          <li>Or, write: <a href="https://timestampmicroservice-fccmartin.glitch.me/1215907200"><code>https://timestampmicroservice-fccmartin.glitch.me/1215907200</code></a></li>
          
        </ol>


        <h3>Expected Result:</h3>
        <p>
          <code>{"unix":1215907200,"utc":"Sun, 13 Jul 2008 00:00:00 GMT"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          by <a href="http://www.freecodecamp.com/">freeCodeCamp</a>
        </p>
      </div>
   </body>

</html>
